.size_s {
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
}

.size_m {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    // letter-spacing: 0.5px;
}

.size_l {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
}

.size_xl {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
}

.size_2xl {
    font-size: var(--font-size-2xl);
    line-height: var(--font-line-2xl);
}

.size_3xl {
    font-size: var(--font-size-3xl);
    line-height: var(--font-line-3xl);
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.orange {
    color: var(--color-orange);
}

.orangeDark {
    color: var(--color-orange-dark);
}

.orangeWhite {
    color: var(--color-orange-white);
}

.violet {
    color: var(--color-violet);
}

.white {
    color: var(--color-white);
}

.gray100 {
    color: var(--color-gray-100);
}

.gray200 {
    color: var(--color-gray-200);
}

.gray500 {
    color: var(--color-gray-500);
}

.gray600 {
    color: var(--color-gray-600);
}

.gray900 {
    color: var(--color-gray-900);
}
