.catalog {
    padding: 48px 0;
}

.catalogInner {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.title {
    color: var(--color-gray-900);
}

.grid {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px 35px;
}

.showMore {
    display: flex;
    justify-content: center;
}
