.catalog {
    padding: 48px 0;
}

.title {
    margin-bottom: 48px;
    color: var(--color-gray-900);
}

.search {
    margin-bottom: 48px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 35px;
}
